<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
!?CSSG nav
Not impletemented for now
<br/>
!?CSSGI FOR ARTICLES
<a href="{{filename}}">{{filename}}</a>
<br/>
!?CSSGI ENDFOR
<h1>Welcome page</h1>
<a href="test.html">Test</a>
<br/>
<a href="test2.html">Test2</a>
<br/>
<a href="test/test3.html">Test3</a>
<br/>
</body>
</html>